
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1; }
body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible; }

p {
color: #000000;
font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
font-family: Roboto; }

a {
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; }
a, a:hover {
  text-decoration: none !important; }

.hero {
height: 100vh;
width: 100%;
}

.site-navbar {
margin-bottom: 0px;
z-index: 1999;
position: fixed;
top: 0;
width: 100%;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

position: absolute; }
@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 3rem;
    padding-bottom: 3rem; } }
.site-navbar .toggle-button {
  position: absolute;
  right: 0px; }
.site-navbar .site-logo {
  margin: 0;
  padding: 0;
  font-size: 1rem; }
  .site-navbar .site-logo a {
    text-transform: uppercase;
    color: #000;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  @media (max-width: 991.98px) {
    .site-navbar .site-logo {
      float: left;
      position: relative; } }
.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid rgb(0, 55, 255) !important; }
.site-navbar .site-navigation .site-menu {
  margin: 0;
  padding: 0;
  margin-bottom: 0; }
  .site-navbar .site-navigation .site-menu .active {
    color: #f3cc73  !important; }
  .site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block; }
  .site-navbar .site-navigation .site-menu > li {
    display: inline-block; }
    .site-navbar .site-navigation .site-menu > li > a {
      margin-left: 15px;
      margin-right: 15px;
      padding: 20px 0px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.7) !important;
      display: inline-block;
      text-decoration: none !important;
      position: relative; }
      .site-navbar .site-navigation .site-menu > li > a:before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: .3s transform ease;
        -o-transition: .3s transform ease;
        transition: .3s transform ease;
        background: #3164C4; }
      .site-navbar .site-navigation .site-menu > li > a:hover {
        color: #000000 !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover:before {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
    .site-navbar .site-navigation .site-menu > li.active > a {
      color: #000000 !important; }
      .site-navbar .site-navigation .site-menu > li.active > a:before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
  .site-navbar .site-navigation .site-menu .has-children {
    position: relative; }
    .site-navbar .site-navigation .site-menu .has-children > a {
      position: relative;
      padding-right: 20px; }
      .site-navbar .site-navigation .site-menu .has-children > a:before {
        position: absolute;
        content: "\e313";
        font-size: 16px;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: 'icomoon'; }
    .site-navbar .site-navigation .site-menu .has-children .dropdown {
      visibility: hidden;
      opacity: 0;
      top: 100%;
      position: absolute;
      text-align: left;
      border-top: 2px solid #eb4d55;
      -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
      padding: 0px 0;
      margin-top: 20px;
      margin-left: 0px;
      background: #fff;
      -webkit-transition: 0.2s 0s;
      -o-transition: 0.2s 0s;
      transition: 0.2s 0s; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
        position: absolute; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
          display: none;
          bottom: 100%;
          left: 20%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: #3164C4;
          border-width: 10px;
          margin-left: -10px; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown a {
        text-transform: none;
        letter-spacing: normal;
        -webkit-transition: 0s all;
        -o-transition: 0s all;
        transition: 0s all;
        color: #000 !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
          color: #eb4d55 !important;
          background: #f8f9fa; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 200px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
          padding: 9px 20px;
          display: block; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
            background: #f8f9fa;
            color: #787a7b; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
          content: "\e315";
          right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
          left: 100%;
          top: 0; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
          background: #f8f9fa;
          color: #000000; }
    .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
      color: #eb4d55; }
    .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
      cursor: pointer; }
      .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        margin-top: 0px;
        visibility: visible;
        opacity: 1; }

.site-mobile-menu {
width: 300px;
position: fixed;
right: 0;
z-index: 2000;
padding-top: 20px;
background: #fff;
height: calc(100vh);
-webkit-transform: translateX(110%);
-ms-transform: translateX(110%);
transform: translateX(110%);
-webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
-webkit-transition: .3s all ease-in-out;
-o-transition: .3s all ease-in-out;
transition: .3s all ease-in-out; }
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
      font-size: 30px;
      display: inline-block;
      padding-left: 10px;
      padding-right: 0px;
      line-height: 1;
      cursor: pointer;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
        color: #000000; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
      display: inline-block;
      text-transform: uppercase; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
        max-width: 70px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
        text-decoration: none; }
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px; }
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }
  .site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529; }
    .site-mobile-menu .site-nav-wrap a:hover {
      color: #3164C4; }
  .site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block; }
    .site-mobile-menu .site-nav-wrap li .nav-link.active {
      color: #3164C4; }
    .site-mobile-menu .site-nav-wrap li.active > a {
      color: #3164C4; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
      background: #000000; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
      font-size: 12px;
      z-index: 20;
      font-family: "icomoon";
      content: "\f078";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
      transform: translate(-50%, -50%) rotate(-180deg);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .site-mobile-menu .site-nav-wrap > li {
    display: block;
    position: relative;
    float: left;
    width: 100%; }
    .site-mobile-menu .site-nav-wrap > li > a {
      padding-left: 20px;
      font-size: 20px; }
    .site-mobile-menu .site-nav-wrap > li > ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .site-mobile-menu .site-nav-wrap > li > ul > li {
        display: block; }
        .site-mobile-menu .site-nav-wrap > li > ul > li > a {
          padding-left: 40px;
          font-size: 16px; }
        .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
          padding: 0;
          margin: 0; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
            display: block; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
              font-size: 16px;
              padding-left: 60px; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 5em; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
      width: auto; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
        padding-left: 15px !important; }

.sticky-wrapper {
position: relative;
z-index: 100;
width: 100%;
position: absolute;
top: 0; }
.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
.sticky-wrapper .site-navbar {
  background: #000000; }
  .sticky-wrapper .site-navbar ul li a {
    color: rgba(0, 0, 0, 0.7) !important; }
    .sticky-wrapper .site-navbar ul li a.active {
      color: #000000 !important; }
.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2); }
  .sticky-wrapper.is-sticky .site-navbar .site-logo a {
    color: #eb4d55; }
  .sticky-wrapper.is-sticky .site-navbar ul li a {
    color: #000 !important; }
    .sticky-wrapper.is-sticky .site-navbar ul li a.active {
      color: #eb4d55 !important; }
.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }
  @media (max-width: 991.98px) {
    .sticky-wrapper .shrink {
      padding-top: 30px !important;
      padding-bottom: 30px !important; } }



      body {
        font-family: 'Roboto', sans-serif;
        background-color: #FAF3E0;
        color: #333;
        padding: 0;
        margin: 0;
    }
    .headervert {
        background-color: #4E7040; 
        padding-top: 100px;
        padding-bottom: 20px;
        color: #FFF;
      
    }
    .header{
      padding-top: 100px;
      padding-bottom: 20px;
      
    
  }
  
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin: 0;
        color: #000000;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
        color: #000000;
    }
    .breadcrumb-item a {
        color: #000000;
       
    }
    .breadcrumb-item a:hover {
        text-decoration: underline;
    }
    
  
    .result-box {
        background-color: #FFF;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
  
    ul {
        list-style-type: none;
        padding: 0;
    }
    ul li {
        padding: 5px 0;
    }
    .btn-custom {
        background-color: #B14343;
        color: #FFF;
        padding: 10px 20px;
        border-radius: 12px;
        text-decoration: none;
        display: inline-block;
        border: 2px solid #B14343;
        margin: 5px;
    }
    .btn-custom.outline {
        background-color: transparent;
        color: #B14343;
        border: 2px solid #B14343;
    }
    .btn-custom:hover {
        background-color: #B14343;
        color: #FFF;
    }
    .btn-custom.outline:hover {
        background-color: #B14343;
        color: #FFF;
    }
    .explanation {
      
        padding: 20px;
        border-radius: 10px;
    
    }
    .icon-bar {
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 10px;
}


.red-bar {
width: 80px; /* Ajustez la largeur selon votre besoin */
height: 10px;
background-color: #B14343;
border-radius: 5px;
margin-top: 10px; 
}


.breadcrumb {
background-color: transparent;
padding: 0;
margin: 0;
color: #000000;
}
.breadcrumb-item + .breadcrumb-item::before {
content: ">";
color: #000000;
}
.breadcrumb-item a {
color: #000000;
text-decoration: none;
}
.breadcrumb-item a:hover {
text-decoration: underline;
}
.breadcrumb-container {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 14px;
color: #000000;
}
.ingredients {
background-color: #4E7040;
color: white;
padding: 15px;
border-radius: 10px;
}
.ingredients ul {
list-style-type: none;
padding: 0;
margin: 0;
}
.ingredients ul li {
display: flex;
justify-content: space-between;
padding: 8px;
}
.ingredients ul li span {
display: inline-block;
}
.info {
display: flex;
justify-content: space-between;
max-width: 360px;
}
footer {
text-align: center;
padding: 20px;
background-color: #FFF3D9;
margin-top: 20px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.recette ol {
line-height: 2.6;
}

header{
margin-bottom: 80px;
}


.fa-star {
color: gray;
cursor: pointer;
padding: 0.0625rem;
}

.fa-star.gold {
color: #ffdc0f;
}




.stars {
  display: inline-flex;
  font-size: 20px;
}


.stars:hover .fa-star {
  color: #ffdc0f;
}



.card-img-top{
  height: 280px;
  width: auto;
}

.card{
  background-color: #3164C4;
 
}

.cardIA {
  background: #3164C4;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-height: 450px;
}

.cardIA p {
margin: 5px 0;
}

.card-content {
display: flex;
align-items: flex-start; /* Aligner les éléments en haut */
gap: 20px; /* Espace entre l'icône et le contenu de droite */
}

.icon-container {
display: flex;
align-items: center;
justify-content: center;
width: 60px; /* Largeur fixe pour l'icône */
}


.right-content img {
display: block; /* Pour éviter l'espace sous l'image */
margin-bottom: 10px; /* Espace sous l'image */
}

.right-content .bpm {
margin: 0; /* Pas de marge pour le BPM */
}

.btn-report {
  background-color: #d9534f;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Colonne gauche + colonne droite plus large */
  gap: 15px;
}
.card {
  background: #3164C4;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  
}


.card-content {
display: flex;
align-items: flex-start; /* Aligner les éléments en haut */
gap: 20px; /* Espace entre l'icône et le contenu de droite */
}

.icon-container {
display: flex;
align-items: center;
justify-content: center;
width: 60px; /* Largeur fixe pour l'icône */
}

.right-content {
flex: 1; /* Prend tout l'espace disponible à droite */
text-align: right; /* Alignement du texte à gauche */
}

.right-content h4 {
margin: 0 0 10px 0; /* Espace sous le titre */
}

.right-content img {
display: block; /* Pour éviter l'espace sous l'image */
margin-bottom: 10px; /* Espace sous l'image */
}

.right-content .bpm {
margin: 0; /* Pas de marge pour le BPM */
}
.btn-reminder {
background-color: #faf2de; /* Pas de fond */
color: #d9534f; /* Texte rouge */
border: 1px solid #d9534f; /* Bordure rouge */
padding: 10px 20px;
border-radius: 12px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s, color 0.3s; /* Animation au survol */
}

.btn-reminder:hover {
background-color: #d9534f; /* Fond rouge au survol */
color: white; /* Texte blanc au survol */
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
}
.icon-spacing {
margin-right: 25px; /* Espace entre l'icône et le texte */
}


.right-column {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Deux lignes dans la colonne droite */
  gap: 15px;
}
.right-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Trois cartes par ligne */
  gap: 15px;
}




.avisContainer {
background-color: #4f6b42;
padding: 20px;
border-radius: 12px;
width: 100%;
max-width: 900px;

}

.title {
color: #fff;
font-size: 24px;
margin-bottom: 20px;
}

.review {
background-color: #f7e6c4;
padding: 15px;
border-radius: 8px;
margin-bottom: 10px;
}

.review-title {
color: #4f6b42;
font-weight: 600;
}

.review-text {
font-size: 14px;
color: #000000;
}



/* Carte Produit */
.product-card {
background-color: #2A5DB0;
color: white;
padding: 20px;
border-radius: 10px;
width: 300px;
text-align: center;
}


.product-image {
width: 100%;
border-radius: 10px;
margin-bottom: 10px;
}

.price {
font-size: 20px;
font-weight: bold;
margin: 10px 0;
}

/* Boutons Quantité */
.quantity {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
margin-top: 10px;
}

.qty-btn {
background-color: #ddd;
border: none;
padding: 8px;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
}

.qty-value {
font-size: 18px;
}

/* Détails produit */


/* Options Couleurs */
.color-options {
display: flex;
gap: 50px;
margin-bottom: 20px;
}

.color-btn {
width: 50px;
height: 30px;
border: 1px solid #00000000;
cursor: pointer;
border-radius: 5px;
}

.gray {
background-color: #D3D3D3;
}

.bronze {
background-color: #CD7F32;
}

.black {
background-color: #000;
}

/* The radio */
.radio {

display: block;
position: relative;
padding-left: 30px;
margin-bottom: 12px;
cursor: pointer;
font-size: 20px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none
}

/* Hide the browser's default radio button */
.radio input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom radio button */
.checkround {

position: absolute;
top: 6px;
left: 0;
height: 20px;
width: 20px;
background-color: #ffffff ;
border-color:#000000;
border-style:solid;
border-width:2px;
border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
background-color: #ffffff00;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
left: 2px;
top: 2px;
width: 12px;
height: 12px;
border-radius: 50%;
background:#000000;


}

.inputPaiement{
border-radius: 15px;
background: #ffffff;
padding: 10px;
width: 300px;
height: 50px;
margin-bottom: 20px;

}

.inputPaiement input{

border: none;

}



.numcart{
border-radius: 15px;
border: none;
padding: 10px;
height: 50px;
margin: 5px  ;


}

.gridIA {
display: grid;
grid-template-columns: 1fr 2fr; /* Colonne gauche + colonne droite plus large */
gap: 15px;
}
